// Import material theming functions
@import '~@angular/material/theming';

$color: mat-color(mat-palette($mat-grey));

.flex-container {
  color: $color;
  border: 1px $color solid;

  .controls-placeholder {
    display: none;
  }

  h3 {
    padding-left: .5em;
  }

  :host ::ng-deep .flex-content {
    padding: 1em;
    > * {
      // Set flex to root element of DynamicFormControl inside flex container.
      // TODO: Research ability to set attributes to component while instantiating through ComponentFactoryResolver
      display: flex;
      min-width: 0;
    }
  }
}
