<div>
  <h1 class="text-center">Simple dynamic form.</h1>
  <div style="width: 100%; height: 100%;">
    <app-ui-flex-container [uiModel]='uiModel' [dataModel]='dataModel' [actions]='actions'></app-ui-flex-container>
  </div>

  <!--
  <app-form-container (submitted)="onSubmit($event)" #form [data]="formConfig"></app-form-container>

  <div class="text-center">
      <h5>Form dynamic state:</h5>
      <div>{{form.formState | async}}</div>
  </div>
  -->
  <div class="text-center">
    <h5>Submitted form values:</h5>
    <div>{{submittedData | json}}</div>
  </div>
</div>